body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 2px 6px #372917;
  padding: 0 15px;
  box-sizing: border-box;
}

.ItemList{
  margin-top: 150px;
}

.productos {
  padding: 5rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem 1rem;
  box-sizing: border-box;
}

.producto{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 6px solid transparent;
  border-radius: 5px;
}

.producto:hover{
  border: 6px solid #f9e99aa2;
}

.producto_footer {
  padding: 1rem;
}

.producto_footer h1 {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.producto_footer p {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.842);
  text-transform: uppercase;
  font-size: 15px;
}

.producto .price{
  font-size: 2rem;
}

.producto .button {
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 2rem;  
}


.button .btn{
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;  
}
.button button {
  background-color: #EF9624;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  text-align: center;
}

.button button:hover{
  background-color: #f88d01;
}

.button div{
  display: grid;
  align-items: center;
  margin-left: -2rem;
}

.button div a{
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button div a:hover{
  color: #f88d01;
}

.principal {
  width: 100%;
}

.formulario{
width: 460px; 
height: auto;
margin: 150px auto;
border-radius: 10px;  
padding-top: 30px;
padding-bottom: 20px;  
background-color: #fbfbfb; 
padding-left: 30px; 
}


.form-control{
background-color: #fbfbfb; 
width: 408px; 
height: 40px; 
border-radius: 5px;  
border-style: solid; 
border-width: 1px; 
border-color: #F9E99A ; 
margin-top: 10px;  
padding-left: 10px;
margin-bottom: 20px; 
}


.form-control_mensaje{
background-color: #fbfbfb; 
width: 405px; 
height: 150px; 
border-radius: 5px;  
border-style: solid; 
border-width: 1px; 
border-color: #F9E99A; 
margin-top: 10px;  
padding-left: 10px;
margin-bottom: 20px; 
padding-top: 15px; 
}

button{
height: 45px; 
padding-left: 5px;
padding-right: 5px;   
margin-bottom: 20px; 
margin-top: 10px;   
text-transform: uppercase;
background-color: #f88d01;
border-color: #f88d01; 
border-style: solid; 
border-radius: 10px;  
width: 420px;   
cursor: pointer;
}


button p{
color: #fff; 
}


.aviso{
font-size: 13px;  
color: #0e0e0e;  
}


.titulo_form{
font-size: 39px;  
text-align: letf; 
padding-bottom: 20px; 
color: #f88d01;
}



::-webkit-input-placeholder {
color: #a8a8a8;
}


::-webkit-textarea-placeholder {
color: #a8a8a8;
}


.formulario input:focus{
outline:0;
border: 1px solid #f88d01;
}


.formulario textarea:focus{
outline:0;
border: 1px solid #f88d01;
}

.boton1{
  width: 70px;
  background-color: #EF9624;
  color: #0e0e0e;
}

.carrito_contenedor{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(77, 75, 75, 0.6);
  z-index: 2;
  padding-bottom: 5rem;
  visibility: hidden;
}

.carrito{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(.8);
  border-radius: 10px;
  width: 60%;
  height: 80%;
  overflow-x: scroll; 
  transition: all 300ms ease-in-out;
  visibility: hidden; 
}

.carrito h2 {
  text-align: center;
  font-size: 2rem;
}

.carritos_contenedor.show{
  visibility: visible;
}

.carrito.show{
  transform: translate(-50%, -50%)scale(1.1);
  visibility: visible;
}

